In [53]:
from components.get_data import get_dates, get_stock_info_4_selected_date, get_biz_info_4_selected_ticker, get_stock_price_4_selected_date, get_stock_price_4_selected_date_n_symbol, get_relevant_news_4_selected_date_n_symbol
from connection.database import get_engine
import sqlalchemy
import pandas as pd

In [54]:
url = "postgresql://jinghao_chen:jingHao880318@34.168.21.14:5000/stocks_db"

In [55]:
engine = sqlalchemy.create_engine(url)

In [56]:
print(engine.table_names())

C:\Users\JingH\AppData\Local\Temp\ipykernel_1452\1043810782.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(engine.table_names())

['raw_most_active_stocks', 'int_price', 'biz_info_lookup', 'mart_news__recent', 'stg_news', 'mart_price_news__analysis', 'stg_price', 'mart_price_vol_chgn', 'stg_most_active_stocks', 'int_news__analysis']

In [57]:
query = "SELECT DISTINCT date FROM mart_price_news__analysis ORDER BY date DESC"

In [58]:
result = engine.execute(sqlalchemy.text(query))

In [59]:
print(sqlalchemy.text(query))

SELECT DISTINCT date FROM mart_price_news__analysis ORDER BY date DESC

In [60]:
df = pd.DataFrame(result.fetchall(), columns=result.keys())

In [61]:
print(df)

         date
0  2026-02-13
1  2026-02-12
2  2026-02-11

In [62]:
df_dates = df['date'].tolist()
print(df_dates)

[datetime.date(2026, 2, 13), datetime.date(2026, 2, 12), datetime.date(2026, 2, 11)]